<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>Add a Job</title>
<meta name="description" content="HTML 5 CSS 3 Spring Form" />


<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="stylesheet" href="../../webapp/css/style.css"
	th:href="@{/css/style.css}" />

<script src="../../webapp/js/libs/modernizr-2.0.6.min.js"
	th:src="@{/js/libs/modernizr-2.0.6.min.js}"></script>

<script type="text/javascript">
	//<![CDATA[
	function hideClassSpecificFields() {
		var conditionalElements = [ "orderIdContainer", "traderNameContainer",
				"traderContactNameContainer", "leadSourceContainer" ];
		var arrayLength = conditionalElements.length;
		for (var i = 0; i < arrayLength; i++) {
			elementToChange = document.getElementById(conditionalElements[i]);
			elementToChange.hidden = true;
		}
	}

	function showNationalAccountFields() {
		elementToChange = document.getElementById("orderIdContainer");
		elementToChange.hidden = false;
	}

	function showRetailFields() {
		elementToChange = document.getElementById("leadSourceContainer");
		elementToChange.hidden = false;

	}

	function showTradeFields() {
		var conditionalElements = [ "traderNameContainer",
				"traderContactNameContainer" ];
		var arrayLength = conditionalElements.length;
		for (var i = 0; i < arrayLength; i++) {
			elementToChange = document.getElementById(conditionalElements[i]);
			elementToChange.hidden = false;
		}
	}

	function showHideConditional(groupName) {
		hideClassSpecificFields();
		var rads = document.getElementsByName(groupName);
		if (rads[0].checked) {
			showRetailFields();
		} else if (rads[1].checked) {
			showNationalAccountFields();
		} else if (rads[2].checked) {
			showTradeFields();
		}
	}
	
	function deleteJob(jobId){
		if(window.confirm("Are you sure you want to delete job Id : "+jobId)){
			window.location.assign("/web/jobs/delete?id="+jobId);
		}
	}
	//]]>
</script>
</head>

<body onload="showHideConditional('type');">
	<h1 th:unless="${editing}">Add new job</h1>
	<h1 th:if="${editing}">Edit job</h1>
	<form action="#" th:action="${editing} ? @{/web/jobs/edit} : @{/web/jobs/add}" th:object="${job}"
		method="post">
		
		<div id="jobIdContainer" th:if="${editing}">
			<label for="jobId" th:text="#{jobform.jobId}">Job Id</label>
			<input id="jobId" type="text" th:field="*{id}" readonly="readonly"/>
		</div>
		<div>
			<label for="type" th:text="#{jobform.jobType}">Type: </label>
		</div>
		<div class="radiogroup">
			<label for="typ-retail"><input id="typ-retail" type="radio"
				th:field="*{type}" name="type" th:value="${T(uk.co.blc_services.smartgenie.domain.JobType).RETAIL}"
				onclick="showHideConditional(this.name);" /><span
				th:text="#{jobform.jobType.retail}">Retail</span></label> <label
				for="typ-national"><input id="typ-national"
				type="radio" th:field="*{type}" name="type"
				th:value="${T(uk.co.blc_services.smartgenie.domain.JobType).NATIONAL_ACCOUNT}"
				onclick="showHideConditional(this.name);" /><span
				th:text="#{jobform.jobType.national_account}">National Acc.</span></label> <label
				for="typ-trade"><input id="typ-trade" type="radio"
				th:field="*{type}" name="type" th:value="${T(uk.co.blc_services.smartgenie.domain.JobType).TRADE}"
				onclick="showHideConditional(this.name);" /><span
				th:text="#{jobform.jobType.trade}">Trade</span></label>
		</div>
		<div id="orderIdContainer">
			<label for="orderId" th:text="#{jobform.jobOrderId}">Order
				Number: </label><input id="orderId" type="text" th:field="*{orderId}" />
		</div>
		<div id="traderNameContainer">
			<label for="traderName" th:text="#{jobform.traderName}">Trader:
			</label><input id="traderName" type="text" th:field="*{traderName}" />
		</div>
		<div id="traderContactNameContainer">
			<label for="tradeContactName" th:text="#{jobform.tradeContactName}">Trade
				Contact: </label><input id="tradeContactName" type="text"
				th:field="*{tradeContactName}" />
		</div>
		<div id="leadSourceContainer">
			<label for="leadSource" th:text="#{jobform.leadSource}">Lead
				Source: </label><input id="leadSource" type="text" th:field="*{leadSource}" />
		</div>
		<div>
			<label for="status" th:text="#{jobform.status}">Status: </label>
			<!-- TODO lowercase the state names and strip underscores? -->
			<select id="status" th:field="*{status}">
				<option
					th:each="elem: ${T(uk.co.blc_services.smartgenie.domain.JobStatus).values()}"
					th:value="${elem.name()}" th:text="${elem.name()}" value="state">state</option>
			</select>
		</div>
		<div>
			<label for="dateReceived" th:text="#{jobform.dateReceived}">Date
				Received: </label><input id="dateReceived" type="date"
				th:field="*{dateReceived}" />
		</div>
		<script type="text/javascript">
			document.getElementById('dateReceived').valueAsDate = new Date();
		</script>
		<div>
			<label for="vehicleReg" th:text="#{jobform.jobVehicleReg}">Vehicle
				Registration: </label><input id="vehicleReg" type="text"
				th:field="*{vehicleReg}" />
		</div>
		<div>
			<label for="name" th:text="#{jobform.jobName}">Customer Name:
			</label><input id="name" type="text" th:field="*{name}" />
		</div>
		<div>
			<label for="address" class="address" th:text="#{jobform.jobAddress}">Customer
				Address: </label>
			<textarea id="address" th:field="*{address}"></textarea>
		</div>
		<div>
			<label for="postcode" th:text="#{jobform.jobPostcode}">Postcode:
			</label><input id="postcode" type="text" th:field="*{postcode}" />
		</div>
		<div>
			<label for="emailAddress" th:text="#{jobform.jobEmailAddress}">Customer
				Email: </label><input id="emailAddress" type="email"
				th:field="*{emailAddress}" />
		</div>
		<div>
			<label for="telNo" th:text="#{jobform.jobTelNo}">Customer
				Phone: </label><input id="telNo" type="tel" th:field="*{telNo}" />
		</div>
		<div>
			<label for="vehicleMakeAndModel"
				th:text="#{jobform.jobVehicleMakeAndModel}">Vehicle Make
				&amp; Model: </label><input id="vehicleMakeAndModel" type="text"
				th:field="*{vehicleMakeAndModel}" />
		</div>
		<div>
			<label for="damageDescription"
				th:text="#{jobform.jobDamageDescription}">Damage
				Description: </label>
			<textarea id="damageDescription" th:field="*{damageDescription}"></textarea>
		</div>
		<div>
			<label for="imagesRequired" th:text="#{jobform.jobImagesRequired}">Images
				Required: </label><input id="imagesRequired" type="checkbox"
				th:field="*{imagesRequired}" />
		</div>
		<div>
			<label for="price" th:text="#{jobform.jobPrice}">Quoted Price
				(Net): </label><input id="price" type="number" step="any"
				th:field="*{price}" />
		</div>
		
		
		<input type="submit" value="Submit" />
		<input type="button" value="Delete" th:if="${editing}" th:onclick="'javascript:deleteJob(\''+*{id}+'\');'"/>
		<input type="reset" value="Reset" th:unless="${editing}"/>
	</form>

	<script>
		/*<![CDATA[*/
		//Embbeded Javascript         
		/*]]>*/
	</script>

</body>
</html>