<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>Add a Job</title>
<meta name="description" content="HTML 5 CSS 3 Spring Form" />


<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="stylesheet" href="../../webapp/css/style.css"
	th:href="@{/css/style.css}" />

<script src="../../webapp/js/libs/modernizr-2.0.6.min.js"
	th:src="@{/js/libs/modernizr-2.0.6.min.js}"></script>
</head>

<body>
	<h1>Add new job</h1>
	<form action="#" th:action="@{/web/jobs/add}" th:object="${job}" method="post">
    	<!-- <p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Message: <input type="text" th:field="*{content}" /></p>
        <p>Message: <input type="text" th:field="*{id}">1001</td>-->
		<div><label for="orderId" th:text="#{jobform.jobOrderId}">Order Number: </label><input id="orderId" type="text" th:field="*{orderId}" /></div>
		<div><label for="vehicleReg" th:text="#{jobform.jobVehicleReg}">Vehicle Registration: </label><input id="vehicleReg" type="text" th:field="*{vehicleReg}" /></div>
		<div><label for="name" th:text="#{jobform.jobName}">Customer Name: </label><input id="name" type="text" th:field="*{name}" /></div>
		<div><label for="address" class="address" th:text="#{jobform.jobAddress}">Customer Address: </label><textarea id="address" th:field="*{address}"></textarea></div>
		<div><label for="emailAddress" th:text="#{jobform.jobEmailAddress}">Customer Email: </label><input id="emailAddress" type="email" th:field="*{emailAddress}" /></div>
		<div><label for="telNo" th:text="#{jobform.jobTelNo}">Customer Phone: </label><input id="telNo" type="tel" th:field="*{telNo}" /></div>
		<div><label for="vehicleMakeAndModel" th:text="#{jobform.jobVehicleMakeAndModel}">Vehicle Make &amp; Model: </label><input id="vehicleMakeAndModel" type="text" th:field="*{vehicleMakeAndModel}" /></div>
		<div><label for="damageDescription" th:text="#{jobform.jobDamageDescription}">Damage Description: </label><textarea id="damageDescription" th:field="*{damageDescription}"></textarea></div>
		<div><label for="price" th:text="#{jobform.jobPrice}">Quoted Price (Net): </label><input id="price" type="number" step="any" th:field ="*{price}" /></div>
        <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
    </form>

	<script>
		/*<![CDATA[*/
		//Embbeded Javascript         
		/*]]>*/
	</script>

</body>
</html>